<!--
 ! Excerpted from "Agile Web Development with Rails, 3rd Ed.",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/rails3 for more book information.
-->
<h1>Administrators</h1>
<ul>
  <% for user in @all_users %>
    <li><%= link_to "[X]", { # link_to options
                             :controller => 'login', 
                             :action => 'delete_user',
                             :id => user},
                           { # html options
                             :method  => :post,
                             :confirm => "Really delete #{user.name}?"
                           } %>
        <%= h(user.name) %>
    </li>
  <% end %>
</ul>