*.a
*.bundle
.bundle/install.log
!.bundle
*.dSYM
*.dot
*.dylib
*.la
*.lo
*.o
*.so
*.rbc
.rbx
*.so
*.swp
*~
.*.d
.DS_Store
.\#*
.dotest
.gdb_history
.glimpse*
.hg
.hgignore
.libs
.spec/bm.yml
.depends.mf
/rubinius_tasks.dot
/nbproject
/coverage
.project
CI-specs
COMMIT
TAGS
\#*
autom4te.cache
code-cache
/config.rb
/config.rb.in
cscope.files
cscope.out
configure.log
rakelib/ryan.rake
codedb
scratch
stamp-h1
stats
tmp
tmtags
/tags
/lib/site
/share
/work
/build/artifacts
/build/bin/c++
/build/bin/cc
/build/codetools
/build/config/config.rb
/build/libraries/cache
/build/libraries/gems
/build/rubinius
/build/stdlib
rubinius-codedb-cache.bz2*
rubinius-codetools-cache.bz2*
rubinius-stdlib-cache.bz2*

# .revision tracks configure and code revision consistency
.revision

# ignore gems and commands installed by gems
/gems/*
/bin/*

# don't ignore our commands
!/bin/benchmark
!/bin/laces.rb
!/bin/mkspec
!/bin/mspec
!/bin/testrb

# don't ignore spec/tags
!/spec/tags

/machine/log
/machine/.deps
/machine/vm.exe

/machine/test/ruby.h

# rubysl-digest installs this header
machine/include/capi/ruby/digest.h

/core/build_config.rb

# Ignore generated headers
machine/config.h
machine/paths.h
machine/release.h
machine/signature.h
machine/dtrace/probes.h
machine/accessor_primitives.hpp
machine/config_variables.h
machine/encoding_database.hpp
machine/includes.hpp
machine/invoke_primitives.hpp
machine/invoke_resolver.hpp
machine/kind_of.hpp
machine/method_primitives.hpp
machine/method_resolver.hpp
machine/object_types.hpp
machine/primitives_declare.hpp
machine/transcoder_database.hpp
machine/typechecks.hpp

.build_ruby
.build_signature
