.DS_Store
.gdb_history
coverage
code-cache
.hgignore
.hg
COMMIT
.load_order.txt
CI-specs
TAGS
tags
tmtags
*.rbc
.spec/bm.yml
spec/files.txt

!runtime/loader.rbc
!runtime/stable/loader.rbc
runtime/pristine*

*.o
*.lo
*.a
*.la
*.bundle
*.swp
*~

attic/externals/syd-parser/pkg


kernel/.load_order.txt
lib/kernel.rb

native/sexp
native/translation
native/bytecode
native/.load_order.txt

# native/bytecode
native/bytecode/assembler.rb
native/bytecode/compiler.rbc
native/bytecode/primitive_names.rbc
native/bytecode/encoder.rb
native/bytecode/assembler.rbc
native/bytecode/encoder.rbc
native/bytecode/rubinius.rbc
native/bytecode/compiler.rb
native/bytecode/primitive_names.rb
native/bytecode/system_hints.rbc

shotgun/rubinius.bin
shotgun/config.h
shotgun/.libs
shotgun/config.mk
shotgun/config/is64bit
shotgun/lib/librubinius.*
shotgun/lib/librubinius-*

shotgun/external_libs/cinvoke/Makefile
shotgun/external_libs/cinvoke/lib/Makefile

shotgun/external_libs/libedit/compat_conf.h
shotgun/external_libs/libedit/config.status
shotgun/external_libs/libedit/config.cache
shotgun/external_libs/libedit/emacs.h
shotgun/external_libs/libedit/vi.h
shotgun/external_libs/libedit/fcns.c
shotgun/external_libs/libedit/fcns.h
shotgun/external_libs/libedit/config.log
shotgun/external_libs/libedit/help.c
shotgun/external_libs/libedit/common.h
shotgun/external_libs/libedit/help.h
shotgun/external_libs/libedit/libedit.a

shotgun/external_libs/libevent/.libs
shotgun/external_libs/libevent/config.h
shotgun/external_libs/libevent/Makefile
shotgun/external_libs/libevent/config.status
shotgun/external_libs/libevent/libtool
shotgun/external_libs/libevent/config.log

shotgun/external_libs/libevent/sample/Makefile

shotgun/external_libs/libevent/test/Makefile

shotgun/external_libs/libltdl/.libs
shotgun/external_libs/libltdl/Makefile
shotgun/external_libs/libltdl/config.log
shotgun/external_libs/libltdl/config.status
shotgun/external_libs/libltdl/stamp-*
shotgun/external_libs/libltdl/config.h
shotgun/external_libs/libltdl/libtool

shotgun/external_libs/libzip/autom4te.cache
shotgun/external_libs/libzip/config.log
shotgun/external_libs/libzip/config.h
shotgun/external_libs/libzip/Makefile
shotgun/external_libs/libzip/config.status
shotgun/external_libs/libzip/libzip.pc
shotgun/external_libs/libzip/stamp-h1
shotgun/external_libs/libzip/libtool
shotgun/external_libs/libzip/libzip-uninstalled.pc

shotgun/external_libs/libzip/lib/.deps
shotgun/external_libs/libzip/lib/Makefile
shotgun/external_libs/libzip/lib/.libs

shotgun/external_libs/libzip/man/Makefile

shotgun/external_libs/libzip/regress/encrypt
shotgun/external_libs/libzip/regress/add_from_filep
shotgun/external_libs/libzip/regress/get_comment
shotgun/external_libs/libzip/regress/set_comment_revert
shotgun/external_libs/libzip/regress/set_comment_all
shotgun/external_libs/libzip/regress/name_locate
shotgun/external_libs/libzip/regress/.deps
shotgun/external_libs/libzip/regress/Makefile
shotgun/external_libs/libzip/regress/fread
shotgun/external_libs/libzip/regress/add_from_file
shotgun/external_libs/libzip/regress/set_comment_localonly
shotgun/external_libs/libzip/regress/.libs
shotgun/external_libs/libzip/regress/open
shotgun/external_libs/libzip/regress/add_from_buffer
shotgun/external_libs/libzip/regress/set_comment_removeglobal

shotgun/external_libs/libzip/src/zipcmp
shotgun/external_libs/libzip/src/zipmerge
shotgun/external_libs/libzip/src/.libs
shotgun/external_libs/libzip/src/.deps
shotgun/external_libs/libzip/src/Makefile

shotgun/external_libs/lightning/config.log
shotgun/external_libs/lightning/config.status
shotgun/external_libs/lightning/stamp-h1
shotgun/external_libs/lightning/config.h
shotgun/external_libs/lightning/lightningize
shotgun/external_libs/lightning/autom4te.cache
shotgun/external_libs/lightning/Makefile

shotgun/external_libs/lightning/doc/stamp-vti
shotgun/external_libs/lightning/doc/lightning.info
shotgun/external_libs/lightning/doc/Makefile
shotgun/external_libs/lightning/doc/version.texi
shotgun/external_libs/lightning/doc/Makefile.in
shotgun/external_libs/lightning/doc/lightningize.1

# shotgun/external_libs/lightning/lightning
shotgun/external_libs/lightning/lightning/fp.h
shotgun/external_libs/lightning/lightning/asm-i386.h
shotgun/external_libs/lightning/lightning/asm.h
shotgun/external_libs/lightning/lightning/funcs.h
shotgun/external_libs/lightning/lightning/Makefile
shotgun/external_libs/lightning/lightning/core.h
shotgun/external_libs/lightning/lightning/core-i386.h

# shotgun/external_libs/lightning/lightning/i386

# shotgun/external_libs/lightning/lightning/ppc

# shotgun/external_libs/lightning/lightning/sparc

# shotgun/external_libs/lightning/opcode
shotgun/external_libs/lightning/opcode/libdisass.a
shotgun/external_libs/lightning/opcode/.deps
shotgun/external_libs/lightning/opcode/Makefile
shotgun/external_libs/lightning/opcode/Makefile.in

# shotgun/external_libs/lightning/tests
shotgun/external_libs/lightning/tests/fibdelay
shotgun/external_libs/lightning/tests/funcfp
shotgun/external_libs/lightning/tests/printf.log
shotgun/external_libs/lightning/tests/printf2
shotgun/external_libs/lightning/tests/.gdb_history
shotgun/external_libs/lightning/tests/fibit
shotgun/external_libs/lightning/tests/.log
shotgun/external_libs/lightning/tests/bp
shotgun/external_libs/lightning/tests/allocai
shotgun/external_libs/lightning/tests/.deps
shotgun/external_libs/lightning/tests/movi
shotgun/external_libs/lightning/tests/push-pop
shotgun/external_libs/lightning/tests/Makefile
shotgun/external_libs/lightning/tests/allocai.log
shotgun/external_libs/lightning/tests/divi
shotgun/external_libs/lightning/tests/ldxi
shotgun/external_libs/lightning/tests/modi
shotgun/external_libs/lightning/tests/rpn
shotgun/external_libs/lightning/tests/fib
shotgun/external_libs/lightning/tests/rpnfp
shotgun/external_libs/lightning/tests/add
shotgun/external_libs/lightning/tests/ret
shotgun/external_libs/lightning/tests/incr
shotgun/external_libs/lightning/tests/printf
shotgun/external_libs/lightning/tests/testfp

# shotgun/external_libs/onig
shotgun/external_libs/onig/config.status
shotgun/external_libs/onig/config.log
shotgun/external_libs/onig/config.h
shotgun/external_libs/onig/.deps
shotgun/external_libs/onig/Makefile
shotgun/external_libs/onig/libtool
shotgun/external_libs/onig/.libs
shotgun/external_libs/onig/stamp-h1
shotgun/external_libs/onig/onig-config

# shotgun/external_libs/onig/doc

# shotgun/external_libs/onig/enc

# shotgun/external_libs/onig/sample
shotgun/external_libs/onig/sample/crnl
shotgun/external_libs/onig/sample/syntax
shotgun/external_libs/onig/sample/simple
shotgun/external_libs/onig/sample/encode
shotgun/external_libs/onig/sample/listcap
shotgun/external_libs/onig/sample/sql
shotgun/external_libs/onig/sample/posix
shotgun/external_libs/onig/sample/names
shotgun/external_libs/onig/sample/.libs
shotgun/external_libs/onig/sample/.deps
shotgun/external_libs/onig/sample/Makefile

# shotgun/external_libs/libstring
shotgun/external_libs/libbstring/*.d
shotgun/external_libs/libbstring/*.so
shotgun/external_libs/libbstring/*.dylib
shotgun/external_libs/libbstring/*.a

# shotgun/external_libs/libcchash
shotgun/external_libs/libcchash/*.d
shotgun/external_libs/libcchash/*.so
shotgun/external_libs/libcchash/*.dylib
shotgun/external_libs/libcchash/*.a

# shotgun/external_libs/libmpa
shotgun/external_libs/libmpa/*.d
shotgun/external_libs/libmpa/*.so
shotgun/external_libs/libmpa/*.dylib
shotgun/external_libs/libmpa/*.a

# shotgun/lib
shotgun/lib/.*.d
shotgun/lib/*.gen
shotgun/lib/auto.c
shotgun/lib/auto.h
shotgun/lib/instruction_names.c
shotgun/lib/instruction_names.h
shotgun/lib/node_types.c
shotgun/lib/node_types.h
shotgun/lib/librubinius.a
shotgun/lib/cpu_primitives.h
shotgun/lib/primitive_indexes.h
shotgun/lib/.libs

# shotgun/lib/subtend
shotgun/lib/subtend/.libs
