artifacts/
*.a
*.bundle
.bundle/install.log
!.bundle
*.dSYM
*.dot
*.dylib
*.la
*.lo
*.o
*.so
*.rbc
.rbx
*.so
*.swp
*~
.*.d
.DS_Store
.\#*
.dotest
.gdb_history
.glimpse*
.hg
.hgignore
.libs
.spec/bm.yml
.depends.mf
/rubinius_tasks.dot
/nbproject
/coverage
.project
CI-specs
COMMIT
TAGS
\#*
autom4te.cache
code-cache
/config.rb
/config.rb.in
cscope.files
cscope.out
configure.log
rakelib/ryan.rake
runtime
scratch
stamp-h1
stats
tmp
tmtags
/tags
/lib/site
/share
/work
/staging
/bootstrap
/build/bin/cc
/build/bin/c++
Gemfile.installed.lock

# .revision tracks configure and code revision consistency
.revision

# ignore gems and commands installed by gems
/gems/*
/bin/*

# don't ignore our commands
!/bin/benchmark
!/bin/laces.rb
!/bin/mkspec
!/bin/mspec
!/bin/testrb

# don't ignore spec/tags
!/spec/tags

/machine/log
/machine/.deps
/machine/vm.exe

/machine/test/ruby.h

# rubysl-digest installs this header
machine/include/capi/ruby/digest.h

/core/signature.rb
/core/build_config.rb

# Ignore generated DTrace header
machine/dtrace/probes.h

# Ignore rubygems except bundled ones
vendor/cache/*

.build_ruby
.build_signature
