language: cpp
compiler:
  - gcc
  - clang
before_script:
  - ./configure --enable-version=18
script: rake travis
branches:
  only:
    - master
notifications:
  recipients:
    - evan+notify@phx.io
    - brixen@gmail.com
    - d.bussink@gmail.com
  email:
    on_success: change
    on_failure: always
rvm:
  - 1.8.7
  - 1.9.3
