!!! STRICT
%html
  %title Rubinius Reports
  %body
    %h1 Rubinius Reports
    %ul
      %li
        %a{:href=>'rspec_errors.html'} Make RSpec work on Rubinius Report
      %li
        %a{:href=>'self_hosting_errors.html'} Make Rubinius Completely Self-Hosted Report


