Source: rubinius-2.3
Section: ruby
Priority: optional
Maintainer: Chad Slaughter <chad.slaughter+debian@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), ruby1.9.1-dev|ruby1.8-dev| rubinius-2.2| rubinius-2.3, zlib1g-dev, libncurses5-dev, libncursesw5-dev, libreadline6-dev, libssl-dev, quilt, bison, libyaml-dev, dpkg-dev (>= 1.16.8)
Standards-Version: 3.9.5
Homepage: http://rubini.us/
#Vcs-Git: https://github.com/rubinius/rubinius.git
Vcs-Browser: https://github.com/rubinius/rubinius

Package: rubinius-2.3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: ruby, ruby-interpreter, irb, rdoc, rake, rubygems, ruby1.9.1, irb1.9.1, rdoc1.9.1, rubygems1.9.1
Provides: ruby, ruby-interpreter, irb, rdoc, rake, rubygems, ruby1.9.1, irb1.9.1, rdoc1.9.1, rubygems1.9.1
Conflicts: ruby1.9.1, ruby1.8, rubygems, rubygems1.8, irb1.8, rdoc1.8, ri, ri1.8, ruby, irb1.9.1, rdoc1.9.1, rubygems1.9.1, libruby1.9.1 , rake 
Description: Rubinius is a modern implementation of the Ruby language.
 Rubinius is designed for concurrency, using native threads to run Ruby code in
 parallel on all CPU cores. It provides a bytecode virtual machine, a precise,
 low-pause generational garbage collector, and an LLVM-based native machine code
 JIT compiler. The Ruby core library and Rubinius tools are written in Ruby,
 making a smaller, consistent system that is easier for Ruby programmers to
 understand and modify. Rubinius includes a C-API interface for compatibility
 with C-extension libraries and gems written for MRI/CRuby. Rubinius created and
 maintains RubySpec, which provides an executable specification of the Ruby
 programming language.
