<div class="container doc_page_nav">
  {% unless page.toc %}
    {% if page.previous_url and page.previous %}
    <span class="label">{{ page.previous_label }}:</span>
    <a href="{{ page.base_dir }}{{ page.previous_url }}">{{ page.previous }}</a>
    {% endif %}

    <span class="label">{{ page.up_label }}:</span>
    <a href="{{ page.base_dir }}">{{ page.toc_text }}</a>

    {% if page.next_url and page.next %}
    <span class="label">{{ page.next_label }}:</span>
    <a href="{{ page.base_dir }}{{ page.next_url }}">{{ page.next }}</a>
    {% endif %}
  {% endunless %}
</div>
