    <footer>
      <div class='container'>
        <nav>
          <ul>
            <li><a href="http://twitter.com/rubinius">Follow Rubinius on Twitter</a></li>
            <li><a href="http://github.com/rubinius/rubinius">Fork Rubinius on github</a></li>
            <li><a href="http://engineyard.com">An Engine Yard project</a></li>

            <li id='credit'>
              Site design by
              <a href="http://less.thanthree.com">Less Than Three</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-12328521-1");
        pageTracker._trackPageview();
        } catch(err) {}</script>
