body, table {
	font-family: sans-serif;
	font-size: 0.9em;
}

a, a:visited {
	color: blue;
}

ul#chapters {
	padding-left: 0px;
	font-size: 1em;
}

ul#op_codes {
	padding-left: 10px;
}

ul#chapters li, ul#op_codes li {
	list-style-type: none;
}

table.formatted {
	margin: 2px 0px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
	border-spacing: 1px;
	border-collapse: collapse;
}

table.formatted th { padding: 2px 5px; color: #FFFFFF; background-color: silver; }

table.formatted td { 
	padding: 5px 3px;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
}

table#tags tr td:first-child { text-align: center; font-weight: bold; }

.todo {
	color: red;
	font-style: italic;
}

.stack table table td {
	width: 60px;
	border-width: 1px;
	border-style: solid;
	font-style: italic;
	text-align: center;
}

div.source pre {
	color: darkblue;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #ffffcc;
	padding: 5px;
}
ul#op_codes li i a:link { color: red; }
ul#op_codes li i a:visited { color: red; }
