<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Rubinius</title>
    <link rel="stylesheet" href="op_codes.css" type="text/css" />
  </head>
  <body>
    <%= html %>
  </body>
<html>
