body, table {
	font-family: sans-serif;
	font-size: 0.9em;
}

:link, :visited {
	color: blue;
}

dt {
  font-weight: bold;
}

ul#chapters {
	padding-left: 0px;
	font-size: 1em;
}

ul.toc_subsection {
	padding-left: 10px;
}

ul#chapters li, ul.toc_subsection li {
	list-style-type: none;
}

.todo {
	color: red;
	font-style: italic;
}

.stack {
  border: 1px solid blue;
}

.stack td {
	width: 60px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}

pre {
	color: darkblue;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #ffffcc;
	padding: 5px;
}

ul#op_codes li i :link { color: red; }
ul#op_codes li i :visited { color: red; }

